body{
    background-color: aliceblue;
}
section{
    position: relative;
    margin-top:15px;
    padding:0;
    border:1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    z-index: -2;
}
section > p{
    line-height:30px;
    padding:0 10px;
    font-size:12px;
    margin-top: 0;
    color: #fff;
    background: #2c83b2;
}
section .content{
    padding:10px;

}
section .content .box{
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: top;
    margin-right:10px;
    margin-bottom:10px;
    border:1px solid #ccc;
}
section .content .box1{
    background: #fff;
    background-image: linear-gradient(90deg,rgba(0, 153, 200, 0.5) 50%,transparent 0),
    linear-gradient(rgba(0, 153, 200,.5) 50%,transparent 0);
    background-size: 20px 20px;
}

section .content .code {
    display: inline-block;
    width: calc(80% - 240px);
    vertical-align: top;
    box-shadow: 0 0 2px 2px #ccc;
    padding: 20px;
}